/* Start by setting display:none to make this hidden.
Then we position it in relation to the viewport window
with position:fixed. Width, height, top and left speak
for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
.loading-icon {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

body {
    min-width: 400px;
}

/* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
body.loading .loading-icon {
        overflow: hidden;   
}

/* Anytime the body has the loading class, our
    modal element will be visible */
body.loading .loading-icon {
    display: block;
}
.word-card-container {
    height: 100%;
}
.btn-word {
    height: 100%;
    color: black;
    background-color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sound-container {
    width: 83px;
    height: 38px;
}

.border-4 {
    border-width: 4px !important;
}

@media (max-width: 576px) {
    .form-row .form-group {
        display: inline-block !important; 
        width: auto!important
    }
    .sound-container {
        width: 63px;
    }
}
@media (max-width: 360px) {
    .sound-container {
        width: 40px;
    }
    #back-word {
        width: 175px;
    }
}
